config TANGIER_WATCHDOG
	bool "Support for Intel Tangier watchdog"
	depends on INTEL_SCU
	help
	  This enables support for watchdog controller available on
	  Intel Tangier SoC. If you're using a board with Intel Tangier
	  SoC, say Y here.

	  If unsure, say N.
